name: Generate Metrics

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: gh-metrics/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: 1995parham
          template: classic
          base: header, activity, community, repositories
          config_timezone: Asia/Tehran
          filename: metrics.svg
          plugin_habits: yes
          plugin_habits_from: 200
          plugin_habits_days: 30
          plugin_habits_charts: yes
          plugin_habits_charts_type: classic
          plugin_habits_trim: yes
