name: Generate Metrics

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: gh-metrics/metrics@main
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: 1995parham
          template: classic
          base: header, activity, community, repositories
          config_timezone: Asia/Tehran
          filename: metrics.svg
